
@{
    ViewData["Title"] = "Main City";
}

<h2>Welcome to the most dangerous city in your life</h2>

@Html.ActionLink("Wander across the city", "Wander", new { }, new { @class = "btn btn-secondary" })


