@model string
@{
    ViewData["Title"] = "Main City";
}

<h2>Welcome to the most dangerous city in your life</h2>

<div class="row">
    <div class="col-8">
        <img src="~/Images/ankh-morpork.jpg" class="img-thumbnail float-end" alt="...">
    </div>
    <div class="col-md-3">
        <div class="d-grid gap-2">
            @Html.ActionLink("Wander across the city", "Wander", new { }, new { @class = "btn btn-secondary btn-lg" })
            @Html.ActionLink("Visit the Mended Drum", "Bar", "MendedDrum", new { }, new { @class = "btn btn-secondary btn-lg" })
        </div>
    </div>
</div>

@if (Model != null)
{
    @section scripts
        {
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                alert("U should know it" + @Model);
            });
        </script>
    }
}