
@{
    ViewBag.Title = "Index";
}

<br>
<h2>You came across a member of guild of Fools and Joculators and College of Clowns</h2>

@Html.ActionLink("Pay a fee", "Offer", "Assassins", new { }, new { @class = "btn btn-secondary" })
@Html.ActionLink("Refuse h", "End", "Game",
    new { message = "U was killed by somebody in mask" },
    new { @class = "btn btn-secondary" })