@using AnkhMorporkAdventure.Models;
@model AnkhMorporkAdventure.Domain.Models.Thief
@{
    ViewBag.Title = "Meeting";
}
<br />
<div class="row">
    <div class="col-6">
        <h2>You came across a member of guild of Thieves, Cutpurses and Allied Trades</h2>
        <br/>
        <h3>Hi, I'm @Model.Name! As u know, u should pay a fee in size of 10 dollars. Will u do it?</h3>
        <br/>
        @Html.ActionLink("Pay a fee", "Confirm", "Thieves", new { }, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Refuse paying a fee", "Index", "Game",
            new GameIndexMessageModel
            {
                Title = "You died",
                Message = "The two assassins kill when u went down to alley",
                Died = true
            },
            new { @class = "btn btn-secondary" })
    </div>
    <div class="col-6">
        <img src="~/Images/thieves-guild.jpg" class="img" alt="...">
    </div>
</div>
